/* header{
    height: 20vh;
}

.nav {
    width: 100%;
    height: 20vh;
    background: rgb(226,214,200);
    background: linear-gradient(180deg, rgba(226,214,200,1) 0%, rgba(255,255,255,1) 10%);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    position: fixed;
    top: 0px;
    z-index: 9999;
}

.nav .nav_ul{
    list-style: none;
    display: flex;
}

.nav .nav_ul li{
    margin-left: 20px;
}

.nav .nav_ul li a{
    text-decoration: none;
    color: inherit;
    transition: all 0.6s;
}

.nav .nav_ul li a:hover{
    color:  rgb(196, 117, 13);
    cursor: pointer;
}

/*dise침o responsivo*/
/* @media only screen and (max-width:768px) {
    header {
        height: 10vh;
    }

    .nav {
        height: 10vh;
    }

    .nav .nav_ul {
        width: 100%;
        justify-content: center;
        padding: 0;
        font-size: 14px;
    }

    .nav .nav_ul li:first-child {
        margin-left: 0px;
    }
}

@media only screen and (max-width:425px) {
    .nav .nav_ul li a{
        font-size: 10px;
    }
}

@media only screen and (max-width:425px) {
    .nav .nav_ul li{
        margin-left: 10px;
    }
}

@media only screen and (max-width:320px) {
    header{
        height: 15vh;
    }
    
    .nav {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        height: 15vh;
    }

    .nav .nav_ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin:0;
        height: 15vh;
    }

    .nav .nav_ul li {
        margin: 0;
    }
} */ 

/* Estilos base para M칩vil */
.nav {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    height: 10vh;
    padding: 0 1.25rem;
    background: linear-gradient(180deg, rgba(226,214,200,1) 0%, rgba(255,255,255,1) 10%);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-sizing: border-box; 
}

.nav__logo {
    text-decoration: none;
    color: var(--color-texto-oscuro);
    font-size: var(--fs-titulo-md);
}

.nav__toggle {
    font-size: var(--fs-titulo-sm);
    background: none;
    border: none;
    cursor: pointer;
    display: block; 
}

.nav__links {
    font-family: var(--fuente-titulos);
    display: none;
    position: absolute;
    top: 10vh; 
    left: 0;
    width: 100%;
    background-color: var(--color-fondo-claro);
}

/* Clase que se a침adir치 con JS */
.nav__links.active {
    display: block;
}

.nav__ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.nav__ul li {
    padding: 1rem 0;
    width: 100%;
    text-align: center;
}

.nav__ul li a {
    text-decoration: none;
    color: var(--color-texto-oscuro);
    transition: all 0.3s;
}

.nav__ul li a:hover {
    color: var(--color-principal);
    font-weight: bold;
}

/* Estilos para Tablet y superiores */
@media (min-width: 768px) {
    .nav__toggle {
        display: none; 
    }

    .nav__links {
        display: flex; 
        position: static;
        width: auto;
        background-color: transparent;
    }
    
    .nav__ul {
        flex-direction: row; 
    }

    .nav__ul li {
        margin-left: 1.25rem;
        padding: 0;
        width: auto;
    }
}