/* 
.heroContainer {
    display: flex;
    height: 90vh;
}

.heroContainer .hero_img{
    width: 50%;
    height: 100%;
    background-color:rgb(196, 117, 13);
}

.heroContainer .hero_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.heroContainer .hero_h1{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(196, 117, 13);
    color: white;
}

.heroContainer .hero_h1 h1{
    width: 75%;
    font-size: 35px;
    font-weight: 250;
    text-align: center;
}

.heroContainer .hero_h1 a{
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 10px 20px;
    color: inherit;
    transition: 0.5s;
    cursor: pointer;
}

/*diseño responsivo*/
/* @media only screen and (max-width:600px){
    .heroContainer .hero_h1 h1{
        font-size: 25px;
    }

    .heroContainer .hero_h1 a{
        font-size: 15px;
    }
}

@media only screen and (max-width:475px){
    .heroContainer {
        height: 80%;
        flex-direction: column;
    }

.heroContainer .hero_img{
    width: 100%;
    height: 50%;
    }

.heroContainer .hero_h1{
    width: 100%;
    height: 25%;
    }

    .heroContainer .hero_h1 a{
        margin-bottom: 10px;
    }
}

@media only screen and (max-width:320px){
    .heroContainer .hero_h1 h1{
        width: 90%;
    }    
} */

/* Estilos base para Móvil */
.hero__container {
    display: flex;
    flex-direction: column; /* Apilado en móvil */
    min-height: 80vh; /* Altura mínima, puede crecer si el contenido lo necesita */
    background-color: var(--color-principal);
    padding-top: 10vh; 
}

.hero__container .hero__img {
    width: 100%;
    height: 40vh; 
}

.hero__container .hero__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero__container .hero__h1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--color-texto-claro);
    padding: var(--fs-grande);
    box-sizing: border-box;
    text-align: center;
}

.hero__container .hero__h1 h1 {
    font-size: var(--fs-titulo-sm); 
    font-weight: 250;
    margin-bottom: var(--fs-grande);
}

.hero__container .hero__h1 a {
    text-decoration: none;
    color: var(--color-texto-claro);
    border: 1px solid var(--color-texto-claro);
    padding: 0.625rem 1.25rem;
    transition: 0.5s;
}

/* Estilos para Tablet y Escritorio */
@media (min-width: 768px) {
    .hero__container {
        flex-direction: row; 
        min-height: 90vh;
    }

    .hero__container .hero__img {
        width: 50%;
        height: auto; 
    }

    .hero__container .hero__h1 {
        width: 50%;
    }

    .hero__container .hero__h1 h1 {
        font-size: 2.2rem; 
        width: 75%;
    }
}
