.footer{
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-principal);
    color: var(--color-texto-claro);
    position: relative;
    bottom: 0;
    font-family: var(--fuente-titulos);
}

@media only screen and (max-width:600px){
    .footer{
        height: 10vh;
        font-size: 0.625rem;
    }
}