.donacion{
    width: 100%;
    height: 75vw;
    display: flex;
    
}

.donacion .datos{
    width: 25%;
    height: 100%;
    background-color: rgb(196, 117, 13);
    display: flex;
    flex-direction: column;
    justify-content:space-around;
}

.donacion .datos ul{
    list-style: none;
    padding: 0;
    text-transform: uppercase;
    text-align: center;
}

.donacion .datos ul .numero{
    width: 50%;
    font-size: 80px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.donacion .datos ul li p{
    font-size: 30px;
}

.donacion .informacion{
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.donacion .informacion .requisitos{
    width: 100%;
    display: flex;
    flex-direction: column;
    border-bottom: 5px solid rgb(196, 117, 13);
}

.donacion .informacion .requisitos img{
    width: 100%;
    object-fit: cover;
}

.donacion .informacion .requisitos h3{
    width: 100%;
    text-transform: uppercase;
    margin: 0;
    text-align: center;
}

.donacion .informacion .cuenta_bancaria{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction:row;
}

.donacion .informacion .cuenta_bancaria ul{
    width: 50%;
    list-style: none;
    margin: 0;
}

.donacion .informacion .cuenta_bancaria ul h3{
    text-transform: uppercase;
    text-align: center
}


.donacion .informacion .cuenta_bancaria img{
    width: 50%;
    object-fit: cover;
}

