header{
    height: 20vh;
}

.nav {
    width: 100%;
    height: 20vh;
    background: rgb(226,214,200);
    background: linear-gradient(180deg, rgba(226,214,200,1) 0%, rgba(255,255,255,1) 10%);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    position: fixed;
    top: 0px;
    z-index: 9999;
}

.nav .nav_ul{
    list-style: none;
    display: flex;
}

.nav .nav_ul li{
    margin-left: 20px;
}

.nav .nav_ul li a{
    text-decoration: none;
    color: inherit;
    transition: all 0.6s;
}

.nav .nav_ul li a:hover{
    color:  rgb(196, 117, 13);
    cursor: pointer;
}

/*diseño responsivo*/
@media only screen and (max-width:768px) {
    header {
        height: 10vh;
    }

    .nav {
        height: 10vh;
    }

    .nav .nav_ul {
        width: 100%;
        justify-content: center;
        padding: 0;
        font-size: 14px;
    }

    .nav .nav_ul li:first-child {
        margin-left: 0px;
    }
}

@media only screen and (max-width:425px) {
    .nav .nav_ul li a{
        font-size: 10px;
    }
}

@media only screen and (max-width:425px) {
    .nav .nav_ul li{
        margin-left: 10px;
    }
}

@media only screen and (max-width:320px) {
    header{
        height: 15vh;
    }
    
    .nav {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        height: 15vh;
    }

    .nav .nav_ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin:0;
        height: 15vh;
    }

    .nav .nav_ul li {
        margin: 0;
    }
}